Makefile
*.so
*.o
libvy.geany
megsem
vy_caption.h
vy_event.h
vy_eventqueue.h
vy_keyevent.h
vy_rect.h
vy_view.h
vy_window.h
vy_key.h
vy_time.h
vy_circle.h
vy_color.h
vy_filled.h
vy_random.h
vy_shape.h
vy_sprite.h
vy_string.h
vy_vector.h
vy_font.h
vy_square.h
vy_transform.h
vy_transformed.h
all.dep
